

/* CANVAS Y WRAP DEL CARRUSEL */
.carousel-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
  padding-top: 0;

  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;

}

canvas {
  width: 100%;
  height: 80%;
  display: block;
}
