:host {
  --detail-page-bg: #f7f5f5; /* tu color */
  display: block;
  background: var(--detail-page-bg);
  min-height: 100%;
}

/* si el hero traía background, lo dejamos transparente aquí también */
:host app-hotel-hero,
:host app-hotel-hero * {
  background-color: transparent;
}

:host app-footer {
  margin-top: 0; /* El espacio lo maneja rooms-section con padding-bottom */
}
