.services-grid-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 300px;
  height: 100%;
  max-height: 80vh;
}

@media (max-width: 768px) {
  .services-grid-wrapper {
    height: auto;
  }
}

.ag-theme-quartz .ag-header {
  font-family: cursive;
}
.ag-theme-quartz .ag-header-group-cell {
  font-weight: normal;
  font-size: 22px;
}
.ag-theme-quartz .ag-header-cell {
  font-size: 18px;
}
